@import url(/Sass/cssreload.css);
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Open+Sans:wght@400;700&display=swap');

$Verydarkdesaturatedblue: hsl(238, 29%, 16%);
$Softred: hsl(14, 88%, 65%);

$Softviolet: hsl(273, 75%, 66%);
$Softblue: hsl(240, 73%, 65%);

$Verydarkgrayishblue: hsl(237, 12%, 33%);
$Darkgrayishblue: hsl(240, 6%, 50%);

$Lightgrayishblue: hsl(240, 5%, 91%);


body{
    background-image: linear-gradient($Softviolet, $Softblue) ;
    min-height: 100vh;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
    font-family: 'Kumbh Sans';
    color: $Darkgrayishblue;


    .container{
        .bg{
            width: 235px;
            height: 175px;
            display: flex;
            flex-direction: column;
            position: relative;
            bottom: 175px;
            .woman-desktop{
                display: none;
            }
            .pattern-desktop{
                display: none;
            }
            .box{
                display: none;
            }
            .woman{
                width: 100%;
                position: relative;
                top:40px;
            }
            .pattern{
                width: 100%;
                position: relative;
                top: -40px;
            }
    
        }
        width: 330px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: white;
        border-radius: 23px;
        padding: 30px;
        margin-top:100px;
        
    
        .container-question{
            width: 100%;
            height: 100%;
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            gap: 15px;
        
        
            h1{
                text-align: center;
                margin-top: -120px;
                margin-bottom: 20px;
                color: $Verydarkdesaturatedblue;
                font-weight: 700;
                font-size: 2.2em;

            }
            
            .summary{
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                
                color: $Verydarkdesaturatedblue;
                font-weight: 700;
                text-align: start;
                font-size: 1em;
                list-style: none;
            }
            .summary:hover{
                color:$Verydarkdesaturatedblue;
                cursor: pointer;
            }
        
        
            p{
                margin-top: 10px;
                font-size: 0.8em;
            }
            p:hover{
                color:$Softred;
                cursor: pointer;
            }

            .question{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin-bottom: 10px;
                
                .flecha{
                    width: 12px;
                    height: 10px;
                    
                }

                
            }
            .question[open]{
                .flecha{
                    transform: rotate(180deg);
                    transition: 300ms;
                }
            }
            .flecha{
                transition: 300ms;
            }
        
        }
    }


footer{
    
    .attribution { 
        margin:30px 0;
        font-size: 1em; 
        text-align: center;
        color: aliceblue; 
        a {
            color: hsl(0, 34%, 85%);
            text-decoration: none;
            }
        }

}
}
@media screen and (min-width:720px) {

    body{

        .container{

            width: 600px;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            
            

            .bg{
                display: block;
                position: relative;
                top: 0;
                right: 90px;
                .woman{
                    display: none;
                }
                .pattern{
                    display: none;
                } 

                .box{
                    display: flex;
                    position: relative;
                    z-index: 1;
                    top: 59px;
                    right: 20px;
                    width: 120px;
                }

                .woman-desktop{
                    display: flex;
                    position: absolute;
                    width: 274px;
                    top: -29px;
                    overflow-y: hidden;
                }
                .pattern-desktop{
                    display: flex;
                    position: absolute;
                    bottom: -28px;
                    z-index: 0;
                    width: 267px;
                }
            }

            .container-question{
                h1{
                    margin-top: -20px;
                }
                width: 70%;
                height: 70%;


            }
        }

    }
    
}

@media screen and (min-width:1200px) {

    body{
    .container{
        width: 924px;
        
        padding: 40px;
        .bg{
            width: 100%;

            .woman-desktop{
                width: 400px;
                top: -80px;
            }
            .pattern-desktop{
                width: 400px;
                bottom: -80px;
            
                overflow: hidden;
            }
            .box{
                width: 180px;
                top: 30px;
                right: 10px;
            }
        }

        .container-question{
            
            width: 100%;
            margin: 50px 0;

            h1{
                margin-top: -30px;
                font-size: 3em;
            }

            .summary{
                font-size: 1.3em;

            }
            p{
                font-size: 1em;
            }
            .question{
                .flecha{
                    width: 20px;
                    height: 15px;
                }
            }
        }
            
        }
        footer{
            .attribution{
                font-size: 1.3em;
            }
        }
    }
 
}


